@model IEnumerable<Car>

<ul>
    @foreach (var car in Model.GroupBy
    (t => t.Title))
    {
        <li class="title">
            @car.Key
            <ul>
                @foreach (var item in car)
                {
                    <li class="owner">
                        <img src="@Url.Action("GetImage","Home",new {userid = item.OwnerId})" />
                        @item.Owner.FirstName @item.Owner.LastName

                            <a href="AdminDelete?uid=@item.Uid">Delete</a>                 
                    </li>
                }
            </ul>
        </li>
    }
</ul>