@using Microsoft.AspNetCore.Identity
@model IEnumerable<Motorcycle>
@inject SignInManager<SiteUser> SignInManager
@inject UserManager<SiteUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

<ul>

    @foreach (var movie in Model.GroupBy(t => t.Title))
    {
        <li class="title">
            @movie.Key
            <ul>
                @foreach (var item in movie)
                {
                    <li class="owner">
                        <img src="@Url.Action("GetImage", "Home", new { userid = item.OwnerId })" />
                        @item.Owner.FirstName @item.Owner.LastName
                        @if (item.OwnerId == UserManager.GetUserId(User))
                        {
                            <a href="MotorCycle/Delete?uid=@item.Uid">Delete</a>
                        }
                    </li>
                }
            </ul>
        </li>
    }
</ul>
